[submodule "hw1/pytorch-made"]
	path = hw1/pytorch_made
	url = https://github.com/karpathy/pytorch-made.git
[submodule "hw1/PixelCNN-Pytorch"]
	path = hw1/PixelCNN-Pytorch
	url = https://github.com/singh-hrituraj/PixelCNN-Pytorch.git
[submodule "hw1/PixelCNN"]
	path = hw1/PixelCNN
	url = https://github.com/j-min/PixelCNN.git
[submodule "hw1/pixelcnn-pytorch2"]
	path = hw1/pixelcnn-pytorch2
	url = https://github.com/jzbontar/pixelcnn-pytorch.git
[submodule "hw2/git_rnvp"]
	path = hw2/git_rnvp
	url = https://github.com/chrischute/real-nvp.git
[submodule "hw4/wgan-gp"]
	path = hw4/wgan-gp
	url = git@github.com:kouroshHakha/wgan-gp.git
